<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

<script>
    $.get('/notifications').done((data) => {
        let html = ''
        data.forEach(item => {
            html += `
            <a class="dropdown-item d-flex align-items-center" href="/purchases/create">
                <div class="mr-3">
                    <div class="icon-circle bg-warning">
                        <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                </div>
                <div>
                    <div class="small text-gray-500">Barcode: ${item.barcode}</div>
                     Stock Alert: <strong>${item.name}</strong>
                     <br>
                     only have stock: <strong>${item.stock}.</strong>
                </div>
            </a>
            `
        });
        $('#notifAlert').html(html)
    })
    $.get('/notifications/count').done((data) => {
        let html = ''
        data.forEach(item => {
            html += `
            <span class="badge badge-danger badge-counter">${data[0].count}</span>
            `
        });
        $('#notifCount').html(html)
    })
</script>

</body>

</html>

